@media (max-width:400px) {
    .velhotriste {
        width: 100%;
        margin: 0;
    }

    img {
        width: 100%;
        margin: 0;
    }
}

@media (max-width:500px) {
    .iframe {
        width:auto;
        position: relative;
        left: 30px;
        
    }
}
