html {
    background-color: black;
}

p {
    font-size: 30px;
    color: aliceblue;
}

h1 {
    color: aliceblue;
}

.velhotriste {
    position: relative;
    left: px;
    margin: 30px;
    width: 500px;
    height: 433px;
}

.louco {
    margin: 100px;
    /* left: 10px; */
}

.thrax {
    font-size: 30px;
}